@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Merriweather", serif;
}

/* banner stylying */
.banner{
    max-width: 1320px;
    
    min-height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background-image: url(./images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.5);
   background-blend-mode: overlay;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.banner-title{
    color: white;
    font-size: 72px;
    font-weight: 900;
}
.banner-para{
    color: white;
    font-size: 32px;
    font-weight: 400px;
}
/*second-banner styling */
.second-banner{
   width:800px;
   height: 800px;
  
   margin: 0 auto;
   margin-top: 50px;
}

.sale{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}
.sale-offer{
    font-size: 88px;
    color: rgb(255, 0, 0);
    font-family: "Inter";
    font-weight: 700;
    margin-bottom: 95px;
}
.sale-subtitle{
color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 16px;
}
.sale-title{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
}
.sale-img{
    height: 500px;
    width: 800px;
}


.sale-img{
    width: 100%;
    height: 100%;
}

/* third-banner styling */
.third-banner{
   width: 1320px;
     height:600px;
   background-color: rgba(0,0,0,0.5);
   background-blend-mode: overlay;
     margin: 0 auto;
     margin-top: 140px;
    display: flex;
    background-image: url(./images/Vectorrr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.party-left{
    width: 50%;
    height: 600px ;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:30px ;
    
}

.party-left h1 {
color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
line-height: 88px;
letter-spacing: 11%;
text-align: left;
}

.party-left p {
color: rgba(255, 255, 255, 0.8);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
margin-left: 50px;
}

#btn{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 400px;
}
.party-right{
    width: 50%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.party-img{
    width: 40%;
    height: 60%;
}
/* forth-banner styling */
.fourth-banner{
    border: 2px solid white;
    height: 600px;
    width: 1320px;
   margin: 0 auto;

    margin-top: 140px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.3),rgba(255, 0, 0, 0) 100%);
}
.address{
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    margin-top: 100px;
   
}
.add-title{
    color: red;
    margin-left: 10px;
}
.color{
    color: black;
}
.btn-red{
color: white;
background-color: red;
margin-top: 100px ;
text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  padding: 16px 32px 16px 32px;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  border-radius: 5px;
  margin-left: 576px;
}
.btn-red:hover{
   background-color: rgb(159, 7, 7);
}

/* fifth-banner styling */
.fifth-banner{
    width:1320px ;
    height: 980px;
    
    margin-top: 200px;
    margin:0 auto;
    position: relative;
}
.holiday-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   width: 1068px;
   height: 260px;
   margin: 0 auto;
}

.holiday-text h5{
color: rgb(7, 2, 17);
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 30px;
}

.holiday-text h1{
    font-family: Merriweather;
font-size: 72px;
font-weight: 900;
line-height: 91px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 30px;
}
.holiday-text p{
color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0%;
text-align: center;
}

.solid-color{
    width: 1320px;
    height: 230px;
    background-color: red;
   position: absolute;
   top: 77%;
}
.giftbox{
    height:577px;
    width:675px;
    position:relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.sale-new{
    position: absolute;
    bottom: 40%;
    left: 140%;
}

/* portfolio styling */
.portfolio{
    width:1320px;
    height: 1160px;
   
    margin: 0 auto;
    margin-top: 120px;
}

.portfolio-banner h5{
font-family: "Merriweather", serif;
color: red;
font-size: 24px;
font-weight: 500;
text-transform: capitalize;
margin-bottom: 14px;
}
.portfolio-banner h1{
font-family: "Merriweather", serif;
color: black;
font-size: 48px;
font-weight: 900;
line-height: 60px;
margin-bottom: 8px ;
}

.portfolio-banner p{
font-family: "Merriweather", serif;
color: rgba(7, 2, 17, 0.6);
font-size: 20px;
font-weight: 400;
line-height: 32px;
margin-bottom: 20px;
}

/* Sixth-Banner styling */
.sixth-banner{
    width: 1320px;
    height:600px;
   margin: 0 auto;
   margin-top: 140px;
   display: flex;
   border: 2px solid white;
}

.banner-left{
    width: 33%;
    display: flex;
    flex-direction: column;
}

.banner-left h5{
    font-size: 24px;
    font-weight: 500;
    color: red;
    margin-top: 104px;
    margin-bottom: 16px;
}
.banner-left h1{
    font-size: 48px;
    font-weight: 900;
    color: black;
    margin-bottom: 20px;
}
.banner-left p{
    font-size: 20px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.6);
}
.eclipse-1{
    width: 100%;
    height: 65%;
   margin-left: 20px;
   margin-top: 100px;
   border: 15px solid red;
   border-radius: 50% 50%;
   padding: 15px;
}
.banner-right{
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-right h1{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0%;
text-align: left;
}
.banner-right p{
color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0%;
text-align: left;
margin-right: 10px;
}
.banner-right img{
    background: linear-gradient(180.00deg, rgb(248, 246, 251) 16.935%,rgb(239, 220, 251) 88.811%);
    width: 20%;
    height: 20%;
 
}

/* Seventh-banner styling */
.seventh-banner{
    width: 1320px;
    height: 616px;
    border: 2px solid white;
   margin: 0 auto;
   background-color: rgba(0,0,0,0.05);
}

.icon img{
  margin-top: 80px;
  margin-left: 595px;
}
.icon h1{
color: black;
font-size: 48px;
font-weight: 900;
margin-top: 40px;
margin-left: 400px;
}
.icon p{
    color: rgba(7, 2, 17, 0.6);
    margin-top: 22px;
    margin-left: 212px;
    font-size: 20px;
    font-weight: 400;
}
.box{
    margin-top: 48px;
}
.box-1{
width: 648px;
height: 72px;
border: 2px solid white;
border-radius: 50px;
background-color: white;
margin-left: 336px;
}

.box-2{
    width: 210px;
    height: 72px;
    border: 2px solid red;
    margin-left: 435px;
    border-radius: 0px 50px 50px 0px;
    background: rgb(255, 0, 0);
}
.box-2 h3{
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
margin-top: 20px;
}
/* footer styling */
.footer-banner{
    width: 1600px;
    height: 609px;
    margin: 0 auto;
    border: 2px solid white;
   margin-top: 140px;
    background-color: black;
    margin-bottom: 40px;
    color:white;
}
.contact{
    display: flex;
    margin-right: 160px;
}
.footer-first{
    display: flex;
   justify-content:  space-between;
    margin-top: 120px;
    margin-left: 160px;
    
}
 .hr{
   background-color: white;
   width: 90%;
   margin: 0 auto;
   margin-top: 40px;
 }
 .social-icon{
    width: 300px;
    margin: 0 auto;
    margin-top: 35px;
 }

 .footer-end{
    display: flex;
    justify-content:  space-between;
     margin-top: 120px;
     margin-left: 160px;
     margin-top: 40px;
 }
